#
# Copyright (c) 2024, 2024, Oracle and/or its affiliates. All rights reserved.
# DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
#
# The Universal Permissive License (UPL), Version 1.0
#
# Subject to the condition set forth below, permission is hereby granted to any
# person obtaining a copy of this software, associated documentation and/or
# data (collectively the "Software"), free of charge and under any and all
# copyright rights in the Software, and any and all patent rights owned or
# freely licensable by each licensor hereunder covering either (i) the
# unmodified Software as contributed to or provided by such licensor, or (ii)
# the Larger Works (as defined below), to deal in both
#
# (a) the Software, and
#
# (b) any piece of software and/or hardware listed in the lrgrwrks.txt file if
# one is included with the Software each a "Larger Work" to which the Software
# is contributed by such licensors),
#
# without restriction, including without limitation the rights to copy, create
# derivative works of, display, perform, and distribute the Software and make,
# use, sell, offer for sale, import, export, have made, and have sold the
# Software and the Larger Work(s), and to sublicense the foregoing rights on
# either these or other terms.
#
# This license is subject to the following condition:
#
# The above copyright notice and either this complete permission notice or at a
# minimum a reference to the UPL must be included in all copies or substantial
# portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
name: Reachability Metadata Tests

on:
  pull_request:
    paths:
      - '.github/actions/**'
      - '.github/workflows/reachability-metadata.yml'
      - 'versions/latest-ea.json'
  workflow_dispatch:

env:
  REACHABILITY_METADATA_PATH: ${{ github.workspace }}/graalvm-reachability-metadata
  MINIMUM_METADATA_JAVA_VERSION: 21

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  populate-matrix:
    name: Populate matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
    - name: Checkout oracle/graalvm-reachability-metadata
      uses: actions/checkout@v4
      with:
        repository: oracle/graalvm-reachability-metadata
        path: ${{ env.REACHABILITY_METADATA_PATH }}
    - name: "Setup JAVA_HOME"
      uses: actions/setup-java@v4
      with:
        distribution: 'oracle'
        java-version: ${{ env.MINIMUM_METADATA_JAVA_VERSION }}
    - name: "Populate matrix"
      id: set-matrix
      run: |
        cd ${{ env.REACHABILITY_METADATA_PATH }}
        ./gradlew generateMatrixMatchingCoordinates -Pcoordinates=all

  test-all-metadata:
    name: ${{ matrix.coordinates }}
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs: populate-matrix
    strategy:
        fail-fast: false
        matrix:
          coordinates: ${{fromJson(needs.populate-matrix.outputs.matrix).coordinates}}
    steps:
      - name: Checkout oracle-graalvm-ea-builds for setup-oracle-graalvm-ea-build
        uses: actions/checkout@v4
      - name: Set up GraalVM JDK EA build
        uses: ./.github/actions/setup-oracle-graalvm-ea-build
        with:
          java-version: ${{ env.MINIMUM_METADATA_JAVA_VERSION }}
      - name: "Checkout oracle/graalvm-reachability-metadata"
        uses: actions/checkout@v4
        with:
          repository: oracle/graalvm-reachability-metadata
          path: ${{ env.REACHABILITY_METADATA_PATH }}
      - name: "Pull allowed docker images"
        run: |
          cd ${{ env.REACHABILITY_METADATA_PATH }}
          ./gradlew pullAllowedDockerImages --coordinates=${{ matrix.coordinates }}
      - name: "Disable docker"
        run: |
          cd ${{ env.REACHABILITY_METADATA_PATH }}
          bash ./.github/workflows/scripts/disable-docker.sh
      - name: "Run '${{ matrix.coordinates }}' tests"
        run: |
          cd ${{ env.REACHABILITY_METADATA_PATH }}
          ./gradlew test -Pcoordinates=${{ matrix.coordinates }}
    