name: Validate

on:
  push:
    tags-ignore:
      - '**'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Validate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13' 

      - name: Install jsonschema
        run: pip install jsonschema==4.6.1

      - name: Validate JSON files
        run: python schemas/validate.py